@import 'tailwindcss';

@theme {
  --color-primary: #b4fa72;
  --color-secondary: #9aff9a;
  --color-background: #000000;
  --color-accent: #ffff00;
  --color-danger: #ff5555;
  --color-info: #7df9ff;
  --color-border: #2f4f4f;
  --color-terminal: #0f0f0f;
  --color-terminal-700: #1a1a1a;
  --color-poison: #ff00ff;
  --font-terminal: 'VT323', monospace;
  --font-body: 'IBM Plex Mono', monospace;
  --breakpoint-xxs: 23.5rem;
  --breakpoint-xs: 26.2rem;
  --breakpoint-2k: 160rem;
  --breakpoint-4k: 240rem;
}

@layer base {
  html {
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--color-background-500);
    color: var(--color-primary-500);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  .tab-title {
    font-family: 'VT323', monospace;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #2f4f4f transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2f4f4f;
    border-radius: 50px;
    border: 2px solid transparent;
  }
}

.custom-dashed {
  border-bottom: 2px solid transparent;
  border-image: repeating-linear-gradient(
      to right,
      #2f4f4f 0,
      #2f4f4f 10px,
      transparent 10px,
      transparent 20px
    )
    1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
